<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0000"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="manifest" href="./app.webmanifest">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <h1 class="header__title"><a href="#">CulinaryHub</a></h1>
      <div class="hamburgerdiv"><button id="hamburger">☰</button></div>
      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#/like">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/ikhlash-m78/">About Us</a></li>
        </ul>
      </nav>
    
    </header>
    <main id="maincontent">
  
    </main>
    <footer>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/ikhlash-m78/">About Us</a></li>
      </ul>
      <p>Copyright © 2024 - CulinaryHub</p>
    </footer>
  </body>
</html>
